* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.MainContent {
  display: flex;
  gap: 10px;
  padding: 20px;
}

/* Secciones */
.menu {
  width: 20%;
  background-color: rgb(105, 45, 127);
  color: white;
  text-align: center;
  padding: 20px;
}

.article {
  flex: 1;
  background-color: #f189d5;
  padding: 15px;
}

.aside {
  width: 20%;
  background-color: rgb(57, 165, 208);
  padding: 10px;
}

/* Migas de pan */
.Migasdepan {
  display: flex;
  gap: 10px;
  list-style: none;
  background-color: rgb(234, 177, 177);
  padding: 10px;
}

.Migasdepan li a {
  text-decoration: none;
  color: black;
}

/* Tarjeta */
.tarjeta {
  background-color: #767676;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
}

.tarjeta img {
  max-width: 100%;
  border-radius: 8px;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
